.yellow-panel{
    -fx-border-color: #0ca906;        
}

.red-border{
    -fx-border-color: red;        
}

.black-border{
    -fx-border-color: black;        
}

.orange-border{
    -fx-border-color: orange;        
}

.lightgrey-border{
    -fx-border-color:lightgrey; 
}

.imgButtonArrowDown{
    -fx-background-image: url("../ico/1432084836_arrow_down.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-padding: 50;
}
.imgButtonArrowUp{
    -fx-background-image: url("../ico/1432084876_arrow_up.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}