/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.imgButtonCSS{
    -fx-background-image: url("../../ico/1432046409_paper_plane.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}
